<a href="https://colab.research.google.com/github/srilatha4567/Aiml_task1/blob/main/Task1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:

import pandas as pd
import numpy as np

# 1. LOAD DATASET
url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
df = pd.read_csv(url)

print("--- TASK 1: DATASET ANALYSIS ---\n")

# 2. DISPLAY FIRST AND LAST RECORDS
print("Showing first 5 records:")
display(df.head())
print("\nShowing last 5 records:")
display(df.tail())

# 3. DATA TYPES AND NULL VALUES
print("\n--- Data Structure & Info ---")
df.info()

# 4. STATISTICAL SUMMARY
print("\n--- Statistical Summary (Numerical) ---")
display(df.describe())

# 5. UNIQUE VALUES IN CATEGORICAL COLUMNS
print("\n--- Categorical Data Distribution ---")
categorical_cols = ['Survived', 'Pclass', 'Sex', 'Embarked']
for col in categorical_cols:
    print(f"\nUnique values in {col}:")
    print(df[col].value_counts())

# 6. DATA QUALITY OBSERVATIONS
print("\n--- Data Quality Report ---")
missing_data = df.isnull().sum()
print("Missing values per column:")
print(missing_data[missing_data > 0])

# Target Variable Analysis
survive_rate = df['Survived'].mean() * 100
print(f"\nSurvival Rate (Target Balance): {survive_rate:.2f}% survived / {100-survive_rate:.2f}% deceased")

# 7. ML SUITABILITY SUMMARY
print("\n[CONCLUSION]")
print("- Target Variable: 'Survived' (Binary Classification)")
print("- Features: Mixture of Numerical (Age, Fare) and Categorical (Sex, Pclass)")
print("- Suitability: High, but requires handling missing values in 'Age' and 'Cabin'.")

--- TASK 1: DATASET ANALYSIS ---

Showing first 5 records:

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Showing last 5 records:

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

--- Data Structure & Info ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

--- Statistical Summary (Numerical) ---

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

--- Categorical Data Distribution ---

Unique values in Survived:
Survived
0    549
1    342
Name: count, dtype: int64

Unique values in Pclass:
Pclass
3    491
1    216
2    184
Name: count, dtype: int64

Unique values in Sex:
Sex
male      577
female    314
Name: count, dtype: int64

Unique values in Embarked:
Embarked
S    644
C    168
Q     77
Name: count, dtype: int64

--- Data Quality Report ---
Missing values per column:
Age         177
Cabin       687
Embarked      2
dtype: int64

Survival Rate (Target Balance): 38.38% survived / 61.62% deceased

[CONCLUSION]
- Target Variable: 'Survived' (Binary Classification)
- Features: Mixture of Numerical (Age, Fare) and Categorical (Sex, Pclass)
- Suitability: High, but requires handling missing values in 'Age' and 'Cabin'.


​EDA (Exploratory Data Analysis)
​Feature Classification (Numerical/Categorical)
​Missing Value Detection
​Target Variable Identification
​Statistical Profiling (describe())
​Class Imbalance Analysis
​ML Readiness Assessment